<!DOCTYPE html>
<html>

<head>
  <title>Who's that 2D girl?</title>
  <link rel="stylesheet" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<body>
  <div class="flex-container">


    <div id="charName" data="<%= name%>"></div>
    <div id="difficulty" data = "<%=difficulty%>"></div>

    <div class="level-label">Level <%=level%></div>
    <div class="title-label">What is this 2D girl's name?</div>
    <div class="parent-heart">
    </div>

    <div><img src = "<%=imgSrc%>" class="char-pic"></div>
    <div class="guess"></div>

    <% 
      var lettersLine1 = ["q", "w", "e", "r", "t", "y", "u", "i", "o", "p"];
      var lettersLine2 = ["a", "s", "d", "f", "g", "h", "j", "k", "l"];
      var lettersLine3 = ["z", "x", "c", "v", "b", "n", "m"];
      var lettersLine = [lettersLine1, lettersLine2, lettersLine3];
    %>
    

    <div class="key-container">
    <% 
      for(letterLine of lettersLine){
        %> <div class="key-line"> <%
        for(letter of letterLine){
          %>     
          <button class="letter" id="<%= letter %>"><%= letter %></button>
          <%
        }
        %> </div> <%
      }
    %>
    </div>

    <form action="/result" method="POST" class="buttons">
      <button type="submit" value="clear" name="result" id="clear"></button>
      <button type="submit" value="over" name="result" id="over"></button>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="button.js" charset="utf-8">
  </script>

</body>

</html>